<table>
    <thead>
      <tr>
        <th>summ</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
          <td>{{order.average_purchase_amount}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>>


