<form method="post" action="{{ path('car') }}">
<p1>Введите название машины</p1><input type="text" name="avto">
<p1>Введите цену машины</p1><input type="number" name="price">
<input type="submit" value="отправить">
</form>