<table>
    <thead>
      <tr>
        <th>summ</th>
        <th>nazvanie</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
          <td>{{orders.price}}</td>
          <td>{{orders.avto}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>>
