<form method="post" action="{{ path('orders') }}">
<p1>Введите имя покупателя</p1><input type="text" name="name">
<p1>Введите цену товара</p1><input type="text" name="price">
<p1>Введите название машины</p1><input type="text" name="avto">
<input type="submit" value="отправить">
</form>
