
<form method="post" action="{{ path('people') }}">
<p1>Введите имя покупателя</p1><input type="text" name="name">
<p1>Введите почту покупателя</p1><input type="text" name="email">
<input type="number" name="quantity">
<input type="file" name="img">
<input type="submit" value="отправить">
</form>

