<table>
    <thead>
      <tr>
        <th>summa</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
          <td>{{orders.total_spent}}</td>
          <td>{{orders.name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>>
