<table>
    <thead>
      <tr>
        <th>summ</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
          <td>{{order.totalAmount}}</td>
          <td>{{order.name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>>